USE [ngohoangminh_2210900044]
GO
/****** Object:  Table [dbo].[nhm_SACH]    Script Date: 7/11/2024 12:38:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhm_SACH](
	[nhm_MaSach] [int] NOT NULL,
	[nhm_TenSach] [nvarchar](255) NULL,
	[nhm_SoTrang] [int] NULL,
	[nhm_NamXB] [int] NULL,
	[nhm_MaTG] [int] NULL,
	[nhm_TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[nhm_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhm_TACGIA]    Script Date: 7/11/2024 12:38:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhm_TACGIA](
	[nhm_MaTG] [int] NOT NULL,
	[nhm_TenTacGia] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[nhm_MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[nhm_SACH]  WITH CHECK ADD FOREIGN KEY([nhm_MaTG])
REFERENCES [dbo].[nhm_TACGIA] ([nhm_MaTG])
GO
